.container {
    max-width: 35em;
    margin:auto;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #909494;
    font-family: Arial, Helvetica, sans-serif;
    color: #03045e;
}

#title-01 {
    font-size: 60px;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.navbar {
    margin: 15px;
}
.postlist-item {
    margin: 15px;
}

.postsnippet {
    text-size-adjust: 35px;
    text-transform: uppercase;
    margin-bottom: -0.1px;
}
.dateposted {
    margin: -0.1%;
    border: none;
    font-size: small;
    font-style: italic;
}

footer {
    text-align: center;
}

/*idclass-tags*/
pre {
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  }

/*positioning*/

/*position static*/
    div.static {
        position: static;
        border: 5px solid #2d00f7;
        background-color: #ADB5BD;
        color: black;
        text-transform:uppercase;
        }

/*position relative*/
    div.relative {
        position: relative;
        border: 5px solid #2d00f7;
        background-color: #ADB5BD;
        color: black;
        text-transform:uppercase;
        left: 50px;
        }   

/*position fixed*/
    div.fixed {
        bottom: 0;
        right: 0;
        width: 300px;
        height: 50px;
        border: 5px solid #2d00f7;
        background-color: #ADB5BD;
        color: black;
        text-align: center;
        position: fixed;
        text-transform:uppercase;
        }

/*position absolute*/
    div.relative {
        width: 400px;
        height: 200px;
        border: 5px solid #2d00f7;
        position: relative;
        } 

    div.absolute {
        position: absolute;
        right: 0;
        width: 200px;
        height: 100px;
        border: 5px solid #2d00f7;
        background-color: #CED4DA;
        top: 80px;
        }

/*position sticky*/
    div.sticky {
        position: sticky;
        top: 0;
        padding: 5px;
        text-align: center;
        width: 95%;
        background-color: #ADB5BD;
        border: 5px solid #2d00f7;
        color: black;
        text-transform:uppercase;
        position: -webkit-sticky;
        }
