body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: white;
  color: white;
  padding: 15px 15px 15px 15px;
}

header h1 {
  margin: 0;
  display: inline;
}

nav ul {
  margin: 0;
  padding: 0 0 0 15px;
  display: inline;
}

nav ul li {
  background:;
  border-style: solid;
  border-block-width: 1px;
  border-inline-end-width: 1px;
  border-inline-start-width: 1px;
  border-color: black;
  border-radius: 5px;
  color: white;
  display: inline-block; 
  list-style-type: none;
  padding: 5px 5px;
}

nav ul li # {
  color: white;
}

.row {
  clear:both;
}

.col {
  background: #333;
  border-radius: 5px;
  color: white;
  padding: 10px 0.5%;
  float: center;
  margin: 0.5%;
  width: 31%;
}

footer {
  text-align: center;
  background-color: #999;


}
.feature
 {
  display: flex;
}

.feature.sales {
  background-color:;
}

.feature.closeout {
  background-color: red;
}